.footer {
    background-color: #AA60C8;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    border-top: 1px solid #250321;
  }
  
  .footer p {
    margin: 0.5rem 0;
  }
  
  .footer-links {
    margin-top: 0.5rem;
  }
  
  .footer-links a {
    margin: 0 0.5rem;
    color: #FFFF;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #bb0fb9
    ;
  }
  